@import url('./nav.css');

td{
     border:2px solid yellow;
     padding:10px 30px;
}
table{
     border-collapse: collapse;
}
.mydul{
     display: none;
     position:absolute;
     background-color:black;
     color:white;
}
.dropdown:hover .mydul{
     display: block;
}